/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    color: black;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid,
.fa-regular {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 1440px
}

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 65px;
    padding-bottom: 25px;
    padding-top: 10px;
}

.main {
    display: flex;
    flex-direction: row;
}

.search-bar button {
    display: flex;
    flex-direction: row;
    border-radius: 0 15px 15px 0;
    background-color: #0065FC;
    color: #DEEBFF;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-color: #F2F2F2;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}

.search-bar {
    display: flex;
    border-color: #f2f2f2;
    padding-top: 40px;
    padding-bottom: 20px;

}

.search-bar input {
    font-size: 18px;
    justify-content: center;
    align-items: center;
    border-style: none;
    font-weight: bold;
    padding-left: 20px;

}

.search-bar i {
    background-color: #F2F2F2;
    color: #000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border-radius: 15px 0 0 15px;
}

.nav-link {
    text-decoration: none;
    color: black;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    margin-right: 50px;
}

.nav {
    display: flex;

}

.nav-link:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    display: flex;
    flex-direction: row;
    padding-top: 18px;
}

.main-container {
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.filters {
    border: 2px solid #F2F2F2;
    background-color: white;
    border-radius: 35px;
    padding: 15px;
    color: black;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
}

.filters:hover {
    background-color: #DEEBFF;
}

.filters-buttons {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.filters i {
    margin-right: 10px;
}

.info {
    margin-top: 5px;
    margin-bottom: 35px;
    display: flex;
    align-items: center;

}

.info i {
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 15px;

}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.empty-star {
    color: #d9d9d9;
}

/****** Accommodation And Popular ***********/
.accommodation-popular {
    display: flex;
    gap: 30px;

}

.accommodation-popular section {
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

/****** Accommodation ***********/
.accommodation {
    padding: 30px;
    height: 614px;
    width: 871px;
    display: flex;
    flex-wrap: wrap;
}

.accommodation-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accommodation-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.accommodation-card a {
    width: 225px;
    height: 207px;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 4px;
    border-radius: 20px;
    gap: 4px;
    text-decoration: none;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.accommodation-card-rating {
    padding: 0
}

.accommodation-card img {
    border-radius: 20px 20px 0 0;
    height: 124px;
    width: 100%;
    box-sizing: border-box;
}

.accommodation-card-title {
    margin: 0;
    font-weight: bold;
}

.accommodation-card-subtitle {
    margin: 0;
}

.accommodation-card {
    padding: 8px;
}

.show a {
    font-weight: bold;
    text-decoration: none;

}

/****** Popular ***********/
.popular {
    width: 429px;
    height: 614px;
    background-color: #F2F2F2;
}

.popular-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-cards .card {
    display: flex;
    margin-top: 33px;
    width: 369px;
    height: 146px;
}

.popular-cards img {
    width: 123px;
    height: 146px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.popular-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.popular-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.popular-cards .card-subtitle {
    margin: 0;
}

.popular-cards .card-rating {
    margin-bottom: 5px;
}

.things {
    width: 1340px;
    height: 559.02px;
    padding: 30px;
    gap: 30px;
}

.things .section-title {
    padding-bottom: 25px;

}

.things-cards {
    display: flex;
    gap: 30px;
}

.things-card {
    
}

.things-card img {
    height: 380px;
    width: 297.5px;
    border-radius: 20px 20px 0 0;
}


.things-card a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 439px;
    width: 297.5px;
    border-radius: 20px;
    /* filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.3)); */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

footer {
    /* position: absolute;
    bottom: -700px;
    left: 120px; */
}

.footer-section {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding-right: 150px;
    text-decoration: none;
    border-radius: 20px;
    /* padding-left: ; */
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    text-decoration: none;
    background-color: #F2F2F2;
    text-align: justify;
}

.footer-about {
    text-align: left;

}

ul {
    list-style: none;
    text-decoration: none;
}

/* tablet */
@media screen and (max-width: 1024px) {
    body {
        background-color: red;
        display: flex;

        height: 1893.52px;
        width: 1024px;
    }

    .accommodation {
        height: 611.5px;
        width: 924px;
        display: flex;
    }

    .accommodation-card {
        height: 207.25px;
        width: 268px;
        display: flex;
    }

    .accommodation-card a {
        display: flex;
    }



    .accommodation-card img {
        height: 124px;
        width: 268px;
    }

    .accommodation-popular {
        display: flex;
        flex-direction: column;
    }

    .popular {
        height: 252px;
        width: 924px;
        display: flex;
        padding: 30px;
        gap: 20px;
        margin-right: 15px;

    }

    .popular-cards {
        height: 146px;
        width: 274.67px;
        display: flex;
    }

    .things {
        height: 390.02px;
        width: 924px;
    }

    .things-card {
        height: 270px;
        width: 193.5px;
    }

    .things-card img {
        height: 200px;
        width: 193.5px;
    }


}

/* mobile */
@media screen and (max-width: 768px) {
    body {
        background-color: green;
        display: flex;
        flex-direction: column;
        height: 4001.52px;
        width: 375px;
    }

    .popular {
        height: 569px;
        width: 375px;
    }

    .accommodation {
        width: 375px;
        height: 1435px;
        display: flex;
        flex-direction: column;

    }

    .accommodation-card img {
        height: 146px;
        width: 111.67px;
    }


    .accommodation-cards {
        display: flex;
        flex-direction: column;

    }

    .accommodation-cards a {
        display: flex;
        height: 146px;
        width: 335px;

    }

    .accommodation-popular {
        display: flex;
        flex-direction: column;
        height: 2019.5px;
        width: 375px;
    }

    .things {
        height: 845px;
        width: 315px;
    }


    .things-cards {
        display: flex;
        flex-direction: column;
        width: 315px;
        height: 200px;

    }

    .things-card img {
        height: 141px;
        width: 315px;
    }
}